body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


ul {
  margin: 0;
  padding: 0;
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 22px;
}

body {
  background-color: #22323D;
  font-family: sans-serif;
}

button, #filter-control {
  padding: 10px 22px;
  background-color: #00AA60;
  color: #fff;
  font-size: 14px;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
}

header {
  background-color: #081C24;
  padding: 10px 0;
}

li {
  height: 138px;
  background-color: #2A3A44;
  color: white;
  list-style-type: none;
  padding: 0 40px 0 0;
  display: flex;
}

h3 {
  margin: 0 0 13px 0;
}

h3 span {
  color: #9DA4A9;
}

.card-one {
  padding: 15px 12px 15px 25px;
  flex: 5;
}

.description {
  display: block;
  color: #9DA4A9;
  font-size: 14px;
  line-height: 18px;
}


h1, h2, h3, h4 {
  color: #fff;
}

h1, h2 {
  margin: 0;
  text-align: center;
}

.card-two {
  display: flex;
  flex: 1.5;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  border-left: 1px solid #9DA4A9;
}

.card-two img {
  width: 22px;
  margin-right: 30px;
  cursor: pointer;
}

.card-two button {
  width: 60%;
}

#controls {
  margin-bottom: 22px;
  display: flex;
  justify-content: flex-end;
}

h2 {
  margin-bottom: 50px;
}


#filter-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #00AA60 url('./assets/img/arrow.svg') 90% / 14% no-repeat;
  padding-right: 40px;
  background-size: 22px 22px;
  margin-left: 22px;
}

.search {
  width: 500px;
  margin: 22px auto;
}

.search-input {
  display: flex;
  justify-content: center;
}

.search-input-container {
  display: flex;
  width: 80%;
}

input[type="text"] {
  display: block;
  padding: 8px 50px 8px 10px;
  border: 0;
  width: 100%;
  -webkit-appearance: none;
  border-radius: 22px;
  background-color: #fff;
  font-size: 15px;
}

svg {
  margin-left: -40px;
  width: 30px;
  cursor: pointer;
}

.img-container {
  text-align: center;
  display: block;
}
